"$schema" = 'https://starship.rs/config-schema.json'

format = '[\[$directory$git_branch$git_status$cmd_duration\]$character](green)'
add_newline = false

[character]
success_symbol = '[\$](bold green)'
error_symbol = '[\$](bold red)'

[package]
disabled = true

[directory]
format = "[$path](style)[$read_only](read_only_style)"
style = "green"
read_only_style = "red"

[time]
format = "[$time]($style)"
disabled = false

[git_branch]
format = "[ git:$branch]($style)"

[git_status]
format = '([\[$all_status$ahead_behind\]]($style))'

[cmd_duration]
format = "[ $duration]($style)"
min_time = 100
show_notifications = true
min_time_to_notify = 3_600_000
